openapi: 3.0.1
info:
  title: API Tienda de Ropa
  description: Contrato de interfaz para el catálogo de productos y gestión de ventas.
  version: 1.1.0
  license: # <--- Soluciona el warning de licencia
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.mitienda.com/v1
    description: Servidor de Pruebas

# Definimos que la API usa una llave de seguridad (API Key)
security:
  - ApiKeyAuth: []

paths:
  /products:
    get:
      operationId: getProducts
      summary: Consultar catálogo de ropa
      description: Permite filtrar productos por categoría y precio.
      parameters:
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum: [hombre, mujer, ninos]
      responses:
        '200':
          description: Lista de productos obtenida con éxito
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '400':
          description: Solicitud incorrecta

components:
  securitySchemes: # <--- Soluciona el error de seguridad
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  schemas:
    Product:
      type: object
      required:
        - id
        - name
        - price
      properties:
        id:
          type: string
          example: "SKU-10020"
        name:
          type: string
          example: "Camisa Oxford Azul"
        brand:
          type: string
          example: "Levis"
        price:
          type: number
          format: float
          example: 850.50
        status:
          type: string
          example: "disponible"
