openapi: 3.0.1
info:
  title: API Banco Digital Pro
  description: |
    Interfaz para la gestión de servicios financieros avanzados. 
    Permite la consulta de estados de cuenta y ejecución de transferencias interbancarias.
  version: 2.0.0
  contact:
    name: Soporte Técnico Bancario
    email: api-support@mibanco.com
  x-logo:
    url: 'https://redocly.github.io/redoc/docs/logo.png'

servers:
  - url: https://api.mibanco.com/v2
    description: Servidor de Producción (Seguro)

security:
  - BearerAuth: []

paths:
  /accounts/{accountId}:
    get:
      summary: Consultar detalle de cuenta
      operationId: getAccountDetails
      parameters:
        - name: accountId
          in: path
          required: true
          description: Número de cuenta único (IBAN)
          schema:
            type: string
            example: "ES1234567890"
      responses:
        '200':
          description: Detalles de la cuenta obtenidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          description: Token inválido o expirado

  /transfers:
    post:
      summary: Ejecutar nueva transferencia
      operationId: createTransfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRequest'
      responses:
        '201':
          description: Transferencia procesada con éxito
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactionId:
                    type: string
                    example: "TRX-998877"
                  status:
                    type: string
                    example: "completed"
        '403':
          description: Fondos insuficientes

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
        owner:
          type: string
          example: "Franklin Velasquez"
        balance:
          type: number
          format: double
          example: 25500.75
        currency:
          type: string
          example: "USD"

    TransferRequest:
      type: object
      required:
        - destinationAccount
        - amount
      properties:
        destinationAccount:
          type: string
          example: "ES0987654321"
        amount:
          type: number
          example: 150.00
        concept:
          type: string
          example: "Pago de servicios"
