openapi: 3.0.1
info:
  title: API Tienda de Ropa
  description: Contrato de interfaz para el catálogo de productos y gestión de ventas.
  version: 1.1.0

servers:
  - url: https://api.mitienda.com/v1
    description: Servidor de Pruebas

paths:
  /products:
    get:
      operationId: getProducts  # <--- Agregamos esto (DNI de la función)
      summary: Consultar catálogo de ropa
      description: Permite filtrar productos por categoría y precio.
      parameters:
        - name: category
          in: query
          description: Categoría de la prenda (hombre, mujer, ninos)
          required: false
          schema:
            type: string
            enum: [hombre, mujer, ninos]
      responses:
        '200':
          description: Lista de productos obtenida con éxito
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '400':  # <--- Agregamos este bloque para cumplir la regla 4XX
          description: Solicitud incorrecta (Parámetros inválidos)

components:
  schemas:
    Product:
      type: object
      required:
        - id
        - name
        - price
      properties:
        id:
          type: string
          example: "SKU-10020"
        name:
          type: string
          example: "Camisa Oxford Azul"
        brand:
          type: string
          example: "Levis"
        price:
          type: number
          format: float
          example: 850.50
        status:
          type: string
          example: "disponible"
